.container{
    padding: 38px 38px 40px 46px;
    margin: 0;
}
.tittle{
    font-size: 24;
    font-weight: normal;
    margin: 0;
    margin-bottom: 28px;
}
.button{
    display: inline-block;
    background-color: #303B59;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 16px 107px 16px 107px;
    margin-top: 41px;
    border-radius: 50px;
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(180deg, rgba(103,66,254,1) 0%, rgba(49,44,233,1) 100%);
    cursor: pointer;
}
@media only screen and (max-width: 425px) {
    .button{
        display: inline-block;
        background-color: #303B59;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding: 16px 107px 16px 107px;
        margin-top: 24px;
        border-radius: 50px;
        cursor: pointer;
    }
    .button:hover{
        background: linear-gradient(180deg, rgba(103,66,254,1) 0%, rgba(49,44,233,1) 100%);
        cursor: pointer;
    }
}